/* ---------- Temel ---------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    margin: 0px;
    font-size: 16px;
    color: #000000;
}

button,
select,
form,
input {}

section {
    margin: 0px;
    padding: 0px;
    display: flow-root;
}

p,
ul,
ol,
dl {
    font-weight: 400;
    line-height: 1.5;
    margin-block-start: 0;
    margin-block-end: 1em;
}

p:last-child,
ul:last-child,
ol:last-child,
dl:last-child {
    margin-block-end: 0;
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0;
    margin-block-end: 40px;
    font-weight: 600;
    color: #000000;
    text-wrap: balance;
}

h1 {
    font-size: 56px;
    line-height: 1.3;
}

h2 {
    font-size: 48px;
    line-height: 1.3;
}

h3 {
    font-size: 28px;
    line-height: 1.3;
}

h4 {
    font-size: 24px;
    line-height: 1.3;
}

h5 {
    font-size: 20px;
    line-height: 1.3;
}

h6 {
    font-size: 18px;
    line-height: 1.3;
}

a {
    color: #000000;
}

a:link {
    text-decoration: none;
}

:focus {
    outline: 0;
    background: none;
}

.kapsayici {
    width: 100%;
    max-width: 1240px;
    padding: 0px 20px;
    margin-right: auto;
    margin-left: auto;
}

/* Telefon */
@media (max-width: 767px) {
    .kapsayici {
        padding: 0px 30px;
    }
}

/* Tablet */
@media (min-width: 767px) and (max-width: 991.98px) {
    .kapsayici {
        padding: 0px 30px;
    }
}

/* ipad Pro Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .kapsayici {
        padding: 0px 30px;
    }
}

/* ---------- Gizle ---------- */
@media screen and (min-width: 992px) {
    .pc-gizle {
        display: none !important;
    }
}

/* Telefon */
@media (max-width: 767px) {
    .telefon-gizle {
        display: none !important;
    }
}

/* Tablet */
@media (min-width: 767px) and (max-width: 991.98px) {
    .tablet-gizle {
        display: none !important;
    }
}

/* ipad Pro Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .ipadpro-gizle {
        display: none !important;
    }
}

.nav {
    background: #000000;
    padding: 20px 0px;
}

.nav .sutun {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav .menu {
    display: flex;
    color: #ffffff;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav .menu svg {
    color: #ffffff;
}

.nav .menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}

.nav .menu a.active {
    color: yellow;
    /* Aktif sayfa rengi */
}

.homecontent {
    background: lightcyan;
    padding: 80px 0px;
}

.ornek-1 {
    background: yellow;
    padding: 80px 0px;
}

.ornek-1 img {
    aspect-ratio: 1 / 1;
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 30px;
}

.slider {
    padding: 80px 0px;
    background: lightcyan;
}

.slider img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.blog {
    padding: 80px 0px;
    background: lightseagreen;
}

.blog .sutun {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.blog .kart {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
}

.blog .kart img {
    aspect-ratio: 3/2;
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.blogpost {
    padding: 80px 0px;
    background: lightgoldenrodyellow;
}

.blogpost .sutun {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.blogpost img {
    aspect-ratio: 5/2;
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}









/* ---------- single.php ---------- */
figure {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
}

.single-post .kapsayici {
    width: 100%;
    max-width: 1040px;
    padding: 0px 20px;
    margin-right: auto;
    margin-left: auto;
}

.single-post .blog-giris {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-post .blog-giris img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.single-post .blog-giris h1 {
    font-size: 76px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 30px;
}

.single-post .blog-giris .baslik-aciklama p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #999999;
    max-width: 450px;
    margin-bottom: 30px;
}

.single-post .blog-icerik {
    padding: 0px 80px;
    margin: 80px 0px;
}

.single-post .blog-icerik img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 40px 0px;
}

.single-post .blog-icerik h2 {
    font-size: 48px;
    font-weight: 400;
    margin: 40px 0px;
}

.single-post .blog-icerik p {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.5;
    color: #999999;
    margin: 30px 0px;
}

.single-post .blog-icerik blockquote {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.3;
    font-style: normal;
    color: #000;
    margin: 60px 0px;
    padding: 0px 100px 0px 30px;
    border-left: 1px solid #E5E5E5;
}

.single-post .blog-icerik blockquote cite {
    font-style: normal;
}

.single-post .blog-icerik blockquote p {
    order: 1;
    margin: 30px 0px 0px 0px;
}